body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #f9f9f9;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

@font-face {
  font-family: "MerchantCopy";
  src: local("MerchantCopy"),
    url("./assets/fonts/MerchantCopy.ttf") format("ttf");
}
